<% content_for :title, "Editing miter frame" %>

<h1>Editing miter frame</h1>

<%= render "form", miter_frame: @miter_frame %>

<br>

<div>
  <%= link_to "Show this miter frame", @miter_frame %> |
  <%= link_to "Back to miter frames", miter_frames_path %>
</div>
