<h1>Miter Frames</h1>

<%= form_with url: miter_frames_path, method: :get, local: false, html: {id: "search-miter-form"} do |f| %>
  <%= f.text_field :query, id: "search-miter-frame", placeholder: "Search by name...", class: "search-box" %>
<% end %>

<div class="miter-frames-container">
  <%= render partial: "miter_frame", collection: @miter_frames %>
</div>
