<h1>Cut Yields</h1>

<%= form_with url: cut_yields_path, method: :get, local: false, html: {id: "search-form"} do |f| %>
  <%= f.text_field :query, id: "search-cut-yield", placeholder: "Search by name...", class: "search-box" %>
<% end %>

<!-- <% link_to "New Cut Yield", new_cut_yield_path, class: "btn" %> -->
<div class="cut-yields-container">
  <%= render partial: "cut_yield", collection: @cut_yields %>
</div>
