/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body {
  margin: 0;
  background-image: url("/images/andrey-haimin-q2Fyzn-KJOQ-unsplash.jpg");
  background-size: cover;
}

header {
  background-color: cornflowerblue;
  color: white;
  height: 50px;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2)
}

.login-button {
  display: inline-block; /* ensures padding and box-shadow work nicely */
  background: cornflowerblue;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 22px;
  text-decoration: none; /* removes underline from links */
  box-shadow: 0 0 2.5px cornflowerblue, 0 0 5px cornflowerblue, 0 0 7.5px cornflowerblue;
  transition: background 0.2s, box-shadow 0.2s;
}

.login-button:hover {
  background: #3b71c1; /* slightly darker on hover */
  box-shadow: 0 0 5px #3b71c1, 0 0 10px #3b71c1, 0 0 15px #3b71c1;
}

.sign-up-container{
  background-color: rgb(255, 255, 255);
  width: 400px;
  margin: 50px auto;
  border-radius: 20px;
  text-align: center;
}

.sign-up-button {
  display: inline-block; /* ensures padding and box-shadow work nicely */
  background: #3D2C7A;
  color: white;
  font-weight: bold;
  border: none;
  margin-bottom: 10px;
  width: 55px;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 22px;
  text-decoration: none; /* removes underline from links */
  box-shadow: 0 0 2.5px #3D2C7A, 0 0 5px #3D2C7A, 0 0 7.5px #3D2C7A;
  transition: background 0.2s, box-shadow 0.2s; /* smooth hover */
}

.sign-up-button:hover {
  background: #5A3DA0; /* slightly lighter/darker on hover */
  box-shadow: 0 0 5px #5A3DA0, 0 0 10px #5A3DA0, 0 0 15px #5A3DA0;
}

.sign-up-button-sign-up-page {
  display: inline-block; /* ensures padding and box-shadow work nicely */
  background: #3D2C7A;
  color: white;
  font-weight: bold;
  border: none;
  margin-bottom: 10px;
margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 22px;
  text-decoration: none; /* removes underline from links */
  box-shadow: 0 0 2.5px #3D2C7A, 0 0 5px #3D2C7A, 0 0 7.5px #3D2C7A;
  transition: background 0.2s, box-shadow 0.2s; /* smooth hover */
}

.sign-up-button-sign-up-page:hover {
  background: #5A3DA0; /* slightly lighter/darker on hover */
  box-shadow: 0 0 5px #5A3DA0, 0 0 10px #5A3DA0, 0 0 15px #5A3DA0;
}


.logo {
  align-items: center;
  text-align: center;
}

.cut-name{
  display: flex;
  justify-content: center;
}


.search-box{
  background: white;
  border: solid 2px wheat;
  margin: auto;
  border-radius: 5px;
  justify-content: center;
  display: flex;
}

.login-home {
  background-color: rgb(255, 255, 255);
  width: 400px;
  margin: 50px auto;
  border-radius: 20px;
  text-align: center;
}

.icon-with-text {
  border: 5px dashed cornflowerblue;
  color: white;
  background-color: rgba(255, 255, 255, 0.65);
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 12px;
  gap: 16px;
  width: 250px;
}

.new-cut-bubble {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  color: white;
  width: 200px;
  max-width: 90%;
}


form#cut-yield-form {
  background-color: white;
  max-width: 700px;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 2rem;
}

form#cut-yield-form div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

form#miter-frame-form {
  background-color: white;
  max-width: 1000px;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 2rem;
}

form#miter-frame-form div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.cut-yields-container {
  padding: 10px;
  gap: 16px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 600px;
  overflow-y: auto;
}


.miter-frames-container {
  padding: 10px;
  gap: 16px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: auto;
}


.yield-bubble {
  border: 1px solid tan;
  border-radius: 12px;
  background-color: aliceblue;
  padding: 16px;
  width: 200px;
  transition: transform 0.2s;
}

.yield-bubble:hover {
  transform: scale(1.07);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 4);
  z-index: 10;
}

.miter-frame-bubble:hover {
  transform: scale(1.07);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 4);
  z-index: 10;
}

.cut-name-text {
  border-radius: 6px;
  padding: 6px;
  display: flex;
  justify-content: center;
  background-color: wheat;
}

.delete-text {
  background-color: #3D2C7A;
  border-radius: 4px;
  display: flex;
  padding: 5px;
  justify-content: center;
  width: 50px;
  color: white;
}

.cut-specs-text {
  border: 2px dashed wheat;
  border-radius: 6px;
  padding-left: 10px;
  background-color: beige;
}

footer {
  background-color: cornflowerblue;
}


h1 {
  color: white;
  text-align: center;
  border: 5px solid cornflowerblue;
  background-color: #7aa9f0;
  padding: 10px;
  max-width: 80%;
  width: 300px;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 20px;
}


#dynamic-footer {
  position: fixed;
  bottom: -100px;
  text-align: center;
  width: 100%;
  left: 0;
  padding: 40px 0;
  transition: bottom 0.5s ease;
}

#footer-trigger {
  position: fixed;
  bottom: 0;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  cursor: pointer;
  transition: bottom 0.5s ease;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-icon {
  width: 32px;
  height: 32px;
  display: block
}



@import "custom-image.css";
@import "bootstrap-utilities.css";
@import "pico.pagy.css";
@import "pico.firstdraft.css";
