/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body {
  margin: 0;
  background-image: url("/images/andrey-haimin-q2Fyzn-KJOQ-unsplash.jpg");
  background-size: cover;
}

header {
  background-color: cornflowerblue;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2)
}

form#cut-yield-form {
  background-color: white;
  max-width: 700px;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 2rem;
}

form#cut-yield-form div{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

form#miter-frame-form {
  background-color: white;
  max-width: 1000px;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 2rem;
}

form#miter-frame-form div{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

footer {
  background-color: cornflowerblue;
}

#login-container {
  background-color: white;
  max-width: 500px;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 2rem;
}

h1 {
  color: white;
  text-align: center;
  border: 5px solid cornflowerblue;
  background-color: #7aa9f0;
  padding: 10px;
  max-width: 80%;
  width: 300px;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 20px;
}


#dynamic-footer {
  position: fixed;
  bottom: -100px;
  text-align: center;
  width: 100%;
  left: 0;
  padding: 40px 0;
  transition: bottom 0.5s ease;
}

#footer-trigger {
  position: fixed;
  bottom: 0;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  cursor: pointer;
  transition: bottom 0.5s ease;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-icon {
  width: 32px;
  height: 32px;
  display: block
}



@import "custom-image.css";
@import "bootstrap-utilities.css";
@import "pico.pagy.css";
@import "pico.firstdraft.css";
